Source: ros-rolling-micro-ros-agent
Section: misc
Priority: optional
Maintainer: Pablo Garrido <pablogarrido@eprosima.com>
Build-Depends: debhelper (>= 9.0.0), ros-rolling-ament-cmake, ros-rolling-ament-cmake-gtest <!nocheck>, ros-rolling-ament-lint-auto <!nocheck>, ros-rolling-ament-lint-common <!nocheck>, ros-rolling-builtin-interfaces <!nocheck>, ros-rolling-micro-ros-msgs, ros-rolling-rcutils, ros-rolling-rmw, ros-rolling-rmw-dds-common, ros-rolling-rmw-fastrtps-shared-cpp, ros-rolling-rosidl-default-generators <!nocheck>, ros-rolling-rosidl-typesupport-fastrtps-cpp <!nocheck>, ros-rolling-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-rolling-micro-ros-agent
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-rolling-micro-ros-msgs, ros-rolling-rcutils, ros-rolling-rmw, ros-rolling-rmw-dds-common, ros-rolling-rmw-fastrtps-shared-cpp, ros-rolling-ros-workspace
Description: micro-ROS Agent package
